.noresult-block {
    color: rgb(88, 86, 86);
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);
    height: 300px;

}
.noresults-card {
    padding: 30px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.results-card {
    padding: 30px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
