.results-card {
    background-color: #eb5c00;
    padding: 30px;
    /* height: 300px; */
    overflow-y: unset;
    overflow-x: hidden;
    background: linear-gradient(70deg, #eb5c00, #e17f00);
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.result-block {
    color: rgb(88, 86, 86);
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);

}