.wrapper {
    overflow: hidden;
}

.wrapper-img {
    position: fixed;
    top: 0px;
    z-index: -1;
    height: 100vh;
    min-width: 100%; 
    /* Image without photoshopping */
    /* background-image: url("./restaurant.jpg"); */
    /* Photoshopped background (can be reversed) */
    background-image: url("./restaurant2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-height: 566px){ 
    .wrapper {
        height: 100%;
    }  
}