.wrapper{
    /* overflow: hidden;
    height: 100vh;
    min-width: 100%; */
    /* background-image: url("./restaurant.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.wrapper-img {
    position: fixed;
    top: 0px;
    z-index: -1;
    height: 100vh;
    min-width: 100%; 
    background-image: url("./restaurant.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-height: 566px){ 
    .wrapper {
        height: 100%;
    }  
}