.wrapper{
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        rgba(61, 58, 58, 0.45),
        rgba(61, 58, 58, 0.45)
    );
    background-image: url("./restaurant.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    margin: auto;
}

.row {
    margin-bottom: 8px;
}

h1{
    font-size: 5rem;
    color: white;
}