
button {
    margin: auto;
}

.home {
    margin-top: 30px;
}

.login {
    color: white;
}

.row {
    margin-bottom: 8px;
}

.title {
    font-size: 5rem;
    color: white;
    font-family: 'Lobster', cursive;
    /* font-family: 'Fugaz One', cursive; */
    /* font-family: 'Racing Sans One', cursive; */
    /* font-family: 'Sonsie One', cursive; */
    /* font-family: 'Dr Sugiyama', cursive; */
    /* font-family: 'Warnes', cursive; */
}