.form-check-results {
    padding-left: 0;
}
/* We are re-using this element/styling in ballot.js, but the styling here takes over 
(same name, but containing element). I need to comment-out the height, and it looks like 
everything is okay ...but if that breaks things in search.js, we will re-assess)
  */
#search-results-card {
    padding: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.result-block-selected {
    color: rgb(88, 86, 86);
    background-color: white;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 85%;
}

.picker-card-selected {
    overflow: hidden;
    background: linear-gradient(70deg, #eb5c00, #e17f00);
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 30px;
}

.form-check-label-selected {
    width: 100%;
    padding: 3%;
}
.search_box {
    min-height: 60px;
    padding-top: 3%;
    padding-bottom: 3%;

}
.result-block {
    color: rgb(88, 86, 86);
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);

}
.relative {
    position: relative;
}
.address {
    margin-bottom: 0;
}

.save {
    min-height: 40px;
    margin: auto;
    width: 100%;
}

#search, #roulette {
    width: 100%;
    margin: 3px !important;
    font-size: 1rem;
}

#searchLocation {
    min-height: 48px;
    margin-bottom: 5px;
    width: 100%;
}

#saveRestaurants {
    width: 100%;
    font-size: 100%;
}
.form-check-input:active {
    color: #eb5c00;
}

.fa-info-circle {
    font-size: 60%;
    margin-left: 1%;
    vertical-align: super;
}

.details {
    size: .4rem;
    color: #eb5c00;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 5px;
}

.hidden{
    visibility: hidden;
    height: 0px;
}

.visible {
    visibility: visible;
}

.spinner-div{
    position: relative;
}

.spinner {
    position: absolute;
    top: 0;
}

.delete {
    position: relative;
    float: right;
    border-radius: 100%;
    font-size: 85%;
    background: -webkit-linear-gradient(20deg, #ffae00, #ffbb00);
    background: -o-linear-gradient(20deg, #ffae00, #ffbb00);
    background: linear-gradient(70deg, #ffae00, #ffbb00);
    color: white;
}
.delete:hover {
    color: #FC541B;
}
.delete:active {
    color: #FC541B;
}

.grouping-nested-elements{
    display: inline-block;
    width: 100%;
}
.restaurant-name {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    font-size: 100%;
}
.button-div {
    display: inline-block;
    width: 30%;
}

.instructions-small {
    text-align: center;
    padding: 1%;
    margin: 1% auto 1% auto;
    background-color: white;
    width: 75%;
    border-radius: 10px;
    color: rgb(86,86,86);
    font-weight: 400;
}

@media only screen and (max-height: 526px){ 
    .details{
        display: inline-block;
        margin-left: 10px;
    }
    .restName{
        display: inline-block;
    }
}

/* Media queries to adjust the size of the results displayed on multiple screen sizes */
/* Mobile screens */
@media (max-width: 526px){ 
    #search-results-card {
        max-height: 320px;
    }
}
/* Smaller computer screens/tablets */
@media (max-width: 620px){ 
    #search-results-card {
        /* min-height: 300px; */
        max-height: 425px;
    }
}
/* Regular computer screen  */
@media (min-width: 621px){ 
    #search-results-card {
        /* min-height: 300px; */
        max-height: 450px;
    }
}
/* adjusting the size of the font for medium screens */

@media (max-width: 992px) and (min-width: 576px) {
    .restaurant-name {
        font-size: 75%;
    }
}