.form-check {
    padding-left: 0;
}

.results-card {
    padding: 30px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search_box {
    min-height: 60px;
    padding-top: 3%;
    padding-bottom: 3%;

}
.result-block {
    color: rgb(88, 86, 86);
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);

}

.address {
    margin-bottom: 0;
}

.save {
    min-height: 40px;
    margin: auto;
}

#searchLocation {
    margin-top: 1.5%;
    width: 100%;
}

#saveRestaurants {
    width: 100%;
    margin: auto;
}

/* @media screen and (max-height: 566px){ 
    .wrapper {
        height: 100%;
    }  
} */
