.form-check {
    padding-left: 0;
}
/* We are re-using this element/styling in ballot.js, but the styling here takes over 
(same name, but containing element). I need to comment-out the height, and it looks like 
everything is okay ...but if that breaks things in search.js, we will re-assess)
  */
#search-results-card {
    padding: 30px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

 

.search_box {
    min-height: 60px;
    padding-top: 3%;
    padding-bottom: 3%;

}
.result-block {
    color: rgb(88, 86, 86);
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);

}

.address {
    margin-bottom: 0;
}

.save {
    min-height: 40px;
    margin: auto;
    width: 100%;
}
#search {
    width: 100%;
    margin: 0px !important;
}

#searchLocation {
    min-height: 48px;
    margin-bottom: 5px;
    width: 100%;
}

#saveRestaurants {
    width: 100%;
    margin: auto;
}

/* .yellow-btn {
    background: linear-gradient(70deg, #ff9100, #ffbb00);
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
} */

.details {
    size: .4rem;
    color: #eb5c00;

    text-decoration: underline;
    font-style: italic;
    margin-bottom: 5px;
}

.hidden{
    visibility: hidden;
    height: 0px;
}

.visible {
    visibility: visible;
}

.spinner-div{
    position: relative;
}

.spinner {
    position: absolute;
    top: 0;
}

@media screen and (max-height: 526px){ 
    .details{
        display: inline-block;
        margin-left: 10px;
    }
    .restName{
        display: inline-block;
    }
}
