.card {
    margin: 5%;
}

.login-card {
    background-color: #eb5c00;
    padding: 30px;
    width: 500px;
    height: 350px;
    background: linear-gradient(70deg, #94ca03, #bed736);
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

button {
    margin: 3px !important;
}

.create-button {
    background: linear-gradient(70deg, #ffba00, #ffde00);
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
}