.results-card {
    background-color: #eb5c00;
    padding: 30px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(70deg, #eb5c00, #e17f00);
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
}