nav {
  color: white;
  background: linear-gradient(70deg, #eb5c00, #e17f00);
  box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    color: white important!;
    font-family: 'Lobster', cursive;
    font-size: 25pt;
    margin-left: 2%;
 }

 .navbar-light {
   color: white;
 }

 .navbar-light .navbar-brand {
  color: white;
}

.navbar-toggler {
    border: none;
    float: right;
  }

.nav-link {
  color: white;
}

@media screen and (max-width:992px){ 
  button {
    margin: 5px;
  }

}

